
<div class="card">
    <div class="card-body">
        <h4>Nova Postagem</h4>
        <form action="/admin/postagem/nova" method="POST" >
            <input type="hidden" name="id" value="{{user._id}}">
            <label for="titulo">Título: </label>
            <input type="text"  name="titulo"  class="form-control" required>
            <br>
            <label for="slug">Slug: </label>
            <input type="text" name="slug"  class="form-control" required>
            <br>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao"  class="form-control" required>
            <br>
            <label for="conteudo">Conteudo: </label>
            <textarea name="conteudo" class="form-control" required ></textarea>
            <br>
            <select name="categoria" class="custom-select" required>
                {{#each categorias}}
                    <option value="{{_id}}">
                        {{nome}}
                    </option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-success mt-3">Criar postagem</button>
        </form>
    </div>
</div>
