
<div class="jumbotron">
    <h1 class="display-4">404</h1>
    <p class="lead">Pagina não encontrada :(</p>
    <hr class="my-4">
    <p>Se você está tendo problemas com a navegação pelo site, avise-nos através do nosso email!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
    </p>
</div>
